body {
    background: rgb(255, 192, 192);
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}

.wrap {
    display: inline-block;
    width: 90%;
    padding: 50px 0;
}

.wrap > div {
    width: 100%;
    text-align: center;
    clear: both;
    display: flex;
    margin-bottom: 10px;
}

button {
    width: 23%;
    cursor:pointer;
    font-size: 2em;
    font-weight: bold;
    margin-right: 1%;
    background-color: #fff;
}

button:last-child{
    margin-right: 0;
}

button, input {
    border-radius: 13px;
    border: none;
    margin: 0;
    outline: none;
    height: 80px;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    text-shadow: 0px 0px 2px #BDBDBD;
}

button.reset {
    background-color: rgb(225 225 225);
}

button.operator {
    background-color: rgb(255 249 171);
    color: #ffc1bf;
    text-shadow: 0px 0px 2px #BDBDBD;
}

button.zero {
    width: 48%;
}

input{
    width: 73.5%;
    padding: 10px;
    font-size: 4em;
    background-color: #fff0;
    color: #000;
    text-align: right;
}